*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
.head
{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* Meilleur rendu */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Ombre plus naturelle */
}
.logo
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    margin-top: 20px;
    
}
.head .menu_head ul{
    display: flex;
    justify-content: space-between;
    
}
.head .icon_head ul{
    display: flex;
    justify-content: space-between;
}
.head .menu_head ul li{
    position: relative;
    padding: 20px;

}
.head .menu_head ul li a{
    
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}

.head .icon_head ul li {
    padding: 20px;
    
}
.head .icon_head ul li a{
    
    font-family:'Courier New', Courier, monospace;
    color: black;
}
.head .menu_head ul li:hover  
{
    background-color: rgba(241, 222, 222, 0.8); /* 80% d'opacité */
    display: block;
}
.head .icon_head ul li:hover {
   
    background-color: rgba(241, 222, 222, 0.8); /* 80% d'opacité */


}
.head .menu_head ul li:hover > ul
{
display: block;

}
.head .menu_head ul li ul
{
    display: none;
    margin-top:10px;
    position: absolute;
    left: 0;
    
    
}
