*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
header
{
    background-image: url(image/📸\ Sublimez\ Vos\ Produits\ de\ Beauté\ avec\ un\ Photographe\ Spécialisé\ à\ Paris!\ 🌟.jpeg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    height: 100vh;
  
}
.head
{   position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.094); /* Meilleur rendu */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.299); /* Ombre plus naturelle */
}
.logo
{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    margin-top: 20px;
    color: white;
}
 .head .menu_head ul
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    margin-top: 20px;
    color: white;
    
}
.head .menu_head ul{
    display: flex;
    justify-content: space-between;
    
}
.head .icon_head ul{
    display: flex;
    justify-content: space-between;
}
.head .menu_head ul li{
    position: relative;
    padding: 20px;

}
.head .menu_head ul li a{
    
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.head .icon_head ul li {
    padding: 20px;
    
}
.head .icon_head ul li a{
    
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color:white;
}
.head .menu_head ul li:hover  
{
    background-color: rgba(241, 222, 222, 0.8); /* 80% d'opacité */
    display: block;
}
.head .icon_head ul li:hover {
   
    


}
.head .menu_head ul li:hover > ul
{
display: block;

}
.head .menu_head ul li ul
{
    display: none;
    margin-top:10px;
    position: absolute;
    left: 0;
    
}
.accrocheur
{
 text-align: center;
 margin: 100px;
 padding: 100px;
}
.accrocheur p 
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
color: white;
margin: 30px;
 

}
.accrocheur button
{
    background-color: white;
    width: 180px;
    height: 50px;
    border: 0;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}
body
{
    height: 1000vh;
    background-color: white;
}


/*affichae sur des tablette */
@media only screen and (max-width: 800px) {
    .head .menu_head ul
    {
        display: none;
    } 
   .logo{
    
   }
   }